<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- *** [ FONTS ] *** -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<!-- *** [ MY CSS ] *** -->
		<link rel="stylesheet" href="css/master.css">
		<!-- *** [ Vue.js ] *** -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<!-- *** [ AXIOS (after Vue.js) ] *** -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
		<!-- *** *** -->
		<link rel="shortcut icon" href="#">
		<title>Archivio Dischi</title>
	</head>
	<body>

		<!-----------------------------------------
		Esercizio di oggi: Vue Dischi Musicali
		nome repo: vue-dischi

		Descrizione:
			Attraverso una chiamata ajax all’API di boolean 
			https://flynn.boolean.careers/exercises/api/array/music 
			avremo a disposizione una decina di dischi musicali. 
			Utilizzando vue, stampiamo a schermo una card per ogni album.

		BONUS:
			Creare una select con tutti i generi dei dischi. 
			In base a cosa scegliamo nella select, vedremo i corrispondenti cd.
			>>> select per ogni valore delle proprietà dell'oggetto disco
		
		BONUS 2:
			Ordinare i dischi per anno di uscita.
			>>> ordine per ogni proprietà dell'oggetto disco
		------------------------------------------>

			<div id="app">

				<!-- ** HEADER ** -->
				<div class="header flex-row-cv fx-row-between">
					<img src="img/Spotify_logo.png" alt="">
					<div class="select_box">
						<!-- v-model preleva automaticamente il valore di :value selezionato -->
						<label for="filter1">Filter by</label>
						<select id="filter1" v-model="filter1Selected" @change="filter2Selected=''">
							<option value="">none</option>
							<option v-for="filter1 in Object.keys(filterLists)" :value="filter1">{{cap(filter1)}}
							</option>
						</select>
						<select v-model="filter2Selected" v-if="filter1Selected">
							<option value="">Filter by {{cap(filter1Selected)}}</option>
							<option v-for="filter2 in filterLists[filter1Selected]" :value="filter2">{{filter2}}
							</option>
						</select>
						<label for="sort">Sort by</label>
						<select id="sort" v-model="sortSelected" @change="sortFilter">
							<option value="">none</option>
							<option v-for="sort in Object.keys(filterLists)" :value="sort">{{cap(sort)}}
							</option>
						</select>
					</div>
				</div>

				<!-- ** ITEM DISPLAY PANEL ** -->
				<div class="item_display flex-row-co fx-wrap" v-if="displayItemsAreReady">
					<div v-for="item in displayItems" v-if="isViewable(item)">
						<div class="item_box">
							<div class="card flex-col">
								<img :src="item.poster" :alt="item.author + ' - ' + item.title">
								<div class="item_title fx-grow-1 txt_1" :class="{selected:isSelected(item.title),sorted:isSorted('title')}">
									{{item.title}}
								</div>
								<div class="item_info flex-col-co">
									<div class="item_author txt_2" :class="{selected:isSelected(item.author),sorted:isSorted('author')}">
										{{item.author}}
									</div>
									<div class="item_year txt_2" :class="{selected:isSelected(item.year),sorted:isSorted('year')}">
										{{item.year}}
									</div>
									<div class="item_genre txt_3" :class="{selected:isSelected(item.genre),sorted:isSorted('genre')}">
										{{item.genre}}
									</div>
								</div>
							</div>
						</div> <!-- item_box -->
					</div> <!-- v-for item in displayItems -->
				</div> <!-- item_dispaly -->

			</div> <!-- Vue.js main instance #app -->


		<!-- *** [ MY JS ] *** -->
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
